<div class="tab-content text-center" style="margin-top:8%">
<p>
  <strong> <%= @staff.name %></strong>
</p>

<p>
  <%= image_tag @staff.image_url, :class => " art" %>
</p>

<p>
  <%= @staff.body %>
</p>


<!--  <% if @favorite.present? %>-->
<!--    <%= link_to 'Unfavorites', favorite_path(staff_id: @staff.id), method: :delete, class: 'btn btn-danger' %>-->
<!--  <% else %>-->
<!--    <%= link_to 'Favorite', favorites_path(staff_id: @staff.id), method: :post, class: 'btn-success' %>-->
<!--  <% end %>-->


<!--<p>Comments</p>-->
<!--  <div id="comments_area">-->
  <!-- render for displaying posted comments list in a staff detail page -->
<!--    <%= render partial: 'comments/index', locals: { comments: @comments, staff: @staff } %>-->
<!--  </div>-->

  <!-- render for displaying comment entering field in a staff detail page -->
<!--  <%= render partial: 'comments/form', locals: { comment: @comment, staff: @staff } %>-->

  
  <%= link_to 'Back', staffs_path, class: 'btn btn-prymary'  %>
</div>
</div>

