<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @staff.image %>
</p>

<p>
  <strong>Body:</strong>
  <%= @staff.body %>
</p>

<p>Comment List</p>
  <div id="comments_area">
  <!-- render for displaying posted comments list in a staff detail page -->
    <%= render partial: 'comments/index', locals: { comments: @comments, staff: @staff } %>
  </div>

  <!-- render for displaying comment entering field in a staff detail page -->
  <%= render partial: 'comments/form', locals: { comment: @comment, staff: @staff } %>

  
  <%= link_to 'Back', staffs_path %>
</div>


