<div class="tab-content text-center" style="margin:3% 5% 5% 5%">
<p>
  <strong> <%= @staff.name %></strong>
</p>

<p>
  <%= image_tag @staff.image_url, :class => " art" %>
</p>

<p>
  <%= @staff.body %>
</p>
<div class="container-fluid">
<p>Comment List</p>
  <div id="comment3s_area">
   render for displaying posted comments list in a staff detail page 
    <%= render partial: 'comment3s/index', locals: { comment3s: @comment3s, staff: @staff } %>
  </div>

   render for displaying comment entering field in a staff detail page 
  <%= render partial: 'comment3s/form', locals: { comment3: @comment3, staff: @staff } %>

  </div>
  <%= link_to 'Back', staffs_path, class: 'btn btn-prymary'  %>
</div>

