<div class="col-sm-10 text-centre card container" style="margin:7% 0% 5% 5%"> 
  <h3>Conversation with <%= link_to @conversation.target_user(current_user).name, conversation_messages_path(@conversation)%></h3>
    <% if @over_ten %>
      <%= link_to 'Previous messages', '?m=all' %>
    <% end %>
 <div class="row ">
 <div class="ui segment text-left">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <div class="item container-fluid" style="margin-left:10%">
        <div class="content">
          <div class="header">
            <ul class="row col-sm-12">
               <li class="col-sm-6 text-left"><strong><%= user.name %></strong></li>
               <li class="col-sm-6 text-right"><strong><%= message.message_time %></strong></li>
            </ul>
          </div>
          <div class="list">
            <div class="item">
              <ul class="row col-sm-12">
                <i class="right triangle icon"></i>
                <li class="col-sm-12"><%= message.body %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="col-sm-12">
<%= form_with(model: [@conversation, @message]) do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div>
    <%= f.submit "Send Message" %>
  </div>

<% end %>
    </div>
  </div>
 </div>