<div class="container">
 <div class="row ">
    <div class="col-sm-6 text-center" style="margin-top:8%">  
      <h1>Log in</h1>
      <%= form_with(scope: :session, url: sessions_path) do |f| %>
      <ul>
      <div class="row">
        <li class="col-sm-2"><%= f.label :email %></li>
        <li class="col-sm-10"><%= f.email_field :email %></li>
      </div>
       </br>
       
      <div class="row ">
        <li class="col-sm-2"><%= f.label :password %></li>
        <li class="col-sm-10"><%= f.password_field :password %></li>
      </div>
       </br>
       
      <div class="row col-sm-12" style="margin-left:15%"> 
        <li class="col-sm-6"><%= f.submit "Log in" %></li>
      </div>
      </ul>
      <% end %>
      <h3>Don't you have account? <button type="button" class="btn btn-outline-primary"><%= link_to "Sign up", new_user_path %></button> here!</h3>
    </div>
  </div>
</div>