<%= form_with(model: [  @post, @article, @performer, @staff, @teacher, @comments.build]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<ul class="container-fluid">
  <div class="row info"  style="margin-left:18%">
    <li class="col-sm-2"><%= form.label :content %></li>
    <li class="col-sm-4"><%= form.text_area :content %></li>
  </div>

  <div class="row info"  style="margin-left:18%">
    <li class="col-sm-8"><%= form.submit %></li>
  </div>
</ul>
<% end %>