<div class="tab-content text-center" style="margin-top:8%">
<p>
  <strong><%= @article.title %></strong>
</p>

<p>
  <%= image_tag @article.image_url, :class => "list" %>
</p>

<p>
  <%= @article.body %>
</p>

<p>Comments</p>
  <div id="comments_area">
  <!-- render for displaying posted comments list in a article detail page -->
    <%= render partial: 'comments/index', locals: { comments: @comments, article: @article } %>
  </div>

  <!-- render for displaying comment entering field in a blog detail page -->
  <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>

  <%= link_to 'Back to Articles', articles_path, class: 'btn btn-prymary'  %>
</div>
</div>
