
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <ul class="container-fluid">
   <div class="row info"  style="margin:0">
       <li class="col-sm-3"><%= form.label :image %></li>
       <li class="col-sm-5" style="margin-left:-8%"><%= form.file_field :image, id: :user_image %></li>
       <li class="col-sm-5" style="margin-left:18%"><%= form.hidden_field :image_cache %></li>
  </div>
  </br>
  
  <div class="row info"  style="margin:0">
      <li class="col-sm-2"><%= form.label :name %></li>
      <li class="col-sm-4"><%= form.text_field :name, id: :user_name %></li>
  </div>
  </br>
  
  <div class="row info"  style="margin:0">
      <li class="col-sm-2"><%= form.label :email %></li>
      <li class="col-sm-4"><%= form.text_field :email, id: :user_email %></li>
  </div>
  </br>
  
  <div class="row info"  style="margin:0">
      <li class="infos col-sm-2"><%= form.label :password %></li>
      <li class="col-sm-4"><%= form.password_field :password %></li>
  </div>
  </br>
  
  <div class="row info"  style="margin:0">
      <li class="infos col-sm-2"><%= form.label :password_confirmation %></li>
      <li class="col-sm-4"><%= form.password_field :password_confirmation %></li>
  </div>
  </br>
  
  <div class="row info"  style="margin:0">
      <li class="infos col-sm-2"><%= form.label :body %></li>
      <li class="col-sm-4"><%= form.text_area :body, id: :user_body %></li>
  </div>
  </br>

   <div class="row info"  style="margin-left:18%"> 
     <li class="col-sm-8"><%= form.submit "Create account", data: { confirm: 'Are you sure, you want to create account?' } %></li>
  </div>
</ul>
<% end %>

