<div class="container" style="margin-top:8%">
 <div class="row text-center">
  <h2>User</h2>
  <% @users.each do |user| %>
   <% if user.id != current_user.id %>
    <ul>
      <div class="col-sm-4 item">
         <li><%= link_to user.name, user %></li>
         <li><%= link_to image_tag user.image_url, :class => "profile" %></li>
         <li><%= user.email %></li>
         <li><%= user.body %></li>
         <li><%= link_to 'Message', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post%></li>
      </div>
    <li><%= render 'follow_form', user: user %></li> <!-- If you've implemented the follow/follower functions, please write this sentence as well-->
    </ul>
  <% end %>
<% end %>
   </div>
  </div>