 
 <!-- Container (Contact Section) -->
 <% if @user.id != current_user.id %>
 <div  id="about" class="col-sm-12 row container-fluid bg-grey" style="max-width:1400px;margin-top:30px">
  <div class="col-sm-3 perfo">
     <div class="w3-card w3-round w3-white">
      <div class="w3-container">
         <h4 class="w3-center"><%= @user.name %>'s Profile</h4>
       <div class="row">
        <div class="w3-center col-sm-6"><%= link_to image_tag @user.image.url, :class => "profiles" %>
         <br>
          <%= render 'favorite_form', user: @user %>
         </div>
       </div>
         <hr>
        <i class="fa fa-envelope w3-margin-right w3-text-theme"></i> <%= @user.email %>
      </div>
   </div>
      <br>
      
    <!-- End Left Column -->
  </div>
    
    <!-- Middle Column -->
  <div class="w3-col m6">
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <p><b>Would you like to send message to <%= @user.name %>? Click the button down here!</b></p>
        <p>Otherwise, use profile link up to go back to your home screen</p>
          <div class="row card">
            <% if @user.id != current_user.id %>
              <div class="item">
                <button ><%= link_to 'Message', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post%></button>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m3">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <div class="card container-fluid">
            <% @publications.each do |publication| %>
              <h2><%= publication.title %></h2>
              <%= link_to image_tag(publication.image.url, :class => "public"), publication %>
              <%= publication.body %>
            <% end %>
    </div>
        </div>
      </div>
      <br>
      
      <br>
      
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
 
 <% else %>
<div  id="about" class="col-sm-12 row container-fluid bg-grey" style="max-width:1400px;margin-top:30px">
  <div class="col-sm-3 perfo">
     <div class="w3-card w3-round w3-white">
      <div class="w3-container">
         <h4 class="w3-center">Welcome <b>"<%= @user.name %>"</b></h4>
       <div class="row">
        <div class="w3-center col-sm-6"><%= link_to image_tag @user.image.url, :class => "profiles" %>
         </div>
         <div class="w3-center col-sm-6">
           <%= link_to 'Edit Profile', edit_user_path(current_user.id), class: 'fa fa-pencil btn btn-outline-primary' %>
           <br><br>
         <div class="w3-center">
           <% @user ||= current_user %>
             <div class="row stats">
              <strong id="followers" class="stat">
                <%= @user.favoriters.count %>
              </strong>
                 Likes
             </div>
          </div>
         </div>
       </div>
         <hr>
        <i class="fa fa-envelope w3-margin-right w3-text-theme"></i> <%= @user.email %>
      </div>
      <div class="row">
        <div class="col-sm-6">
        <% @user ||= current_user %>
          <div class="stats">
            <div id="myBtn">
              <strong id="followers" class="stat">
                <a class="btn btn-outline-primary"><%= @user.following.count %> Following</a>
               </strong>
            </div>
            <!-- The Modal -->
            <div id="myModal" class="modal">

             <!-- Modal content -->
             <div class="modal-content">
              <span class="close">&times;</span>
              <% @user.following.each do |user| %>
                <div class="col-sm-12 perfo">
                  <div class="col-sm-3 perfo">
                    <%= link_to image_tag(user.image.url, :class => "popfollow"), user %>
                  </div>
                  <div class="col-sm-6 perfo">
                    <h3><%= user.name %></h3>
                  </div>
                </div>
              <% end %>
              
             </div>
           </div>
          </div>
        </div>
          <div class="col-sm-6">
            <% @user ||= current_user %>
            <div class="stats">
            <div id="myOpen">
              <strong id="followers" class="stat">
                <a class="btn btn-outline-primary"> <%= @user.followers.count %> Followers</a>
               </strong>
            </div>
            <div id="Modality" class="modal1">

              Modal content 
             <div class="modal1-content">
              <span class="closed">&times;</span>
              <% @user.followers.each do |user| %>
                <div class="col-sm-12 perfo">
                  <div class="col-sm-3 perfo">
                    <%= link_to image_tag(user.image.url, :class => "popfollow"), user %>
                  </div>
                  <div class="col-sm-6 perfo">
                    <h3><%= user.name %></h3>
                  </div>
                </div>
              <% end %>
             </div>
           </div>
          </div>
         </div>
      </div>
   </div>
      <br>
    <div class="w3-card w3-round w3-white">
      <div class="w3-container">
        <div class="col-sm-12" style="margin-top:10px">
         <h2 class="fa fa-pencil card container-fluid accordion">REGISTER YOUR CHILD</h2>
         <div class="panel">
           <p><%= link_to 'Register your CHILD', new_admission_path %></p>
           <p><%= link_to 'Check out Registered pupil', admissions_path %></p>
         </div>
        </div>
        <div class="col-sm-12">
         <h2 class="fa fa-thumbs-up card container-fluid accordion">MY FAVORITE USERS</h2>
          <div class="panel">
           <div class="row ">
             <% @user.favoriting.each do |user| %>
                <div class="col-sm-12 perfo">
                  <div class="col-sm-6 perfo">
                    <%= link_to image_tag(user.image.url, :class => "user card"), user %>
                  </div>
                  <div class="col-sm-4 perfo">
                    <%= user.name %>
                  </div>
                </div>
              <% end %>
           </div>
          </div>
        </div>
        <!-- <div class="col-sm-12">-->
        <!-- <h2 class="fa fa-users card container-fluid accordion">MY FOLLOWERS</h2>-->
        <!--  <div class="panel">-->
        <!--   <div class="row ">-->
        <!--      <% @user.favoriters.each do |user| %>-->
        <!--        <div class="col-sm-12 perfo">-->
        <!--          <div class="col-sm-6 perfo">-->
        <!--            <%= link_to image_tag(user.image.url, :class => "user card"), user %>-->
        <!--          </div>-->
        <!--          <div class="col-sm-4 perfo">-->
        <!--            <%= user.name %>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--      <% end %>-->
              
        <!--   </div>-->
        <!--  </div>-->
        <!--</div>-->
      </div>
    </div>
      
    
    <!-- End Left Column -->
  </div>
    
    <!-- Middle Column -->
  <div class="w3-col m6">
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <p><b>Check out your Message here!</b></p>
          <div class="row card">
            <div class="ui segment text-left">
              <% @conversations.each do |conversation| %>
             
                <div class="col-sm-7 "> 
                 <% if conversation.target_user(current_user).present? %>
                  <%= link_to image_tag(conversation.target_user(current_user).image.url, :class => "size"), conversation_messages_path(conversation) %>
                  <%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation)%>
                 <% end %>
               </div>
              <% end %>
              </div>
            <% if @user.id != current_user.id %>
              <div class="item">
                <button ><%= link_to 'Message', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post%></button>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m3">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <div class="card container-fluid">
            <% @publications.each do |publication| %>
              <h2><%= publication.title %></h2>
              <%= link_to image_tag(publication.image.url, :class => "public"), publication %>
              <%= publication.body %>
            <% end %>
    </div>
        </div>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <h3>SUGGESTED FRIENDS</h3>
          <div class="row ">
              <% @users.each do |user| %>
                <div class="col-sm-12 perfo">
                  <div class="col-sm-4 perfo">
                    <%= link_to image_tag(user.image.url, :class => "list"), user %>
                  </div>
                  <div class="col-sm-3 perfo" style="margin-top:1%">
                    <%= user.name %>
                    <%= render 'follow_form', user: user %>
                  </div>
                  
                </div>
               
              <% end %>
             
           </div>
        </div>
      </div>
      <br>
      
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<% end %>
<br>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<script>
// Get the modal
var modal1 = document.getElementById('Modality');

// Get the button that opens the modal
var btn = document.getElementById("myOpen");


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("closed")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal1.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal1.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal1) {
    modal1.style.display = "none";
  }
}
</script>