 <!-- Wrapper for slides -->
 <div id="myCarousel" class="carousel slide" data-ride="carousel" >
   <div class="carousel-inner" id="home"  role="listbox">
     <% @articles.each do |article| %>
      <% if article == @articles.first%>
       <div class="mySlides w3-animate-fading">
        <%= link_to image_tag(article.image.url, :class => "article"), article %>
        <div class="carousel-caption">
          <h3 class="welcome"><b> WELCOME TO SAINT DOMINIC NURSERY AND PRIMARY SCHOOL</b></h3>
          <p><b>"Conscience, Solidality and Excellence"</b> is our MOTTO</p>
        </div>
         <div class="carousel-caption image_caption">
        <ul class="row extra-menu">  
          <li class="col-sm-3"><a href="#"><button class="btn">NURSERY</button></a></li>
          <li class="col-sm-3"><a href="#"><button class="btn">PRIMARY</button></a></li>
          <li class="col-sm-3"><a href="#"><button class="btn"><%= link_to "FACILITIES", posts_path %></button></a></li>
          <li class="col-sm-3"><a href="#"><button class="btn"><%= link_to "ADMISSION", new_session_path %></button></a></li>
          <li class="title"><h3><%= article.title %></h3></li> 
        </ul>
        </div>
      </div>
      <% else %>
       <div class="mySlides w3-animate-fading">
        <%= link_to image_tag(article.image.url, :class => "article"), article %>
        <div class="carousel-caption">
          <h3 class="welcome"><b> WELCOME TO SAINT DOMINIC NURSERY AND PRIMARY SCHOOL</b></h3>
          <p><b>"Conscience, Solidality and Excellence"</b> is our MOTTO</p>
        </div>
        <div class="carousel-caption image_caption">
        <ul class="row extra-menu">  
          <li class="col-sm-3"><a href="#"><button class="btn">NURSERY</button></a></li>
          <li class="col-sm-3"><a href="#"><button class="btn">PRIMARY</button></a></li>
          <li class="col-sm-3"><a href="#"><button class="btn">FACILITIES</button></a></li>
          <li class="col-sm-3"><a href="#"><button class="btn"><%= link_to "ADMISSION", new_session_path %></button></a></li>
           <li class="title"><h3><%= article.title %></h3></li> 
        </ul>
        </div> 
      </div>
     <% end %>
    <% end %>
   </div>
 </div>
 
 <!-- Container (Contact Section) -->
<div class="col-sm-12 row container-fluid bg-grey">
    <div class="col-sm-4 perfo  slideanim">
      <h2 class="card container-fluid accordion">WELCOME MESSAGE</h2>
       <div class="panel">
        <img src="/directrice.jpg" class="directrice" alt="Dominic" style="text-center">
        <p><b>Le Seigneur soit avec vous!</b></p> 
        <p>Comme notre fondateur "Francisco Coll Guitart" disait souvant, 
        chaque de nous est la lumiere de l'autre, par l'éducation nous 
        sommes de createurs de l'avenir de notre generation</p>

        <p>Permettez-moi de vous souhaiter une année de prosperitée et de succée tout au long de 2019</p>

        <p><b>Que Dieu Vous Benisse!</b></p>
       </div>
    </div>
    <div class="col-sm-4 perfo  slideanim">
      <h2 class="card container-fluid accordion">SCHOOL BACKGROUND</h2>
       <div class="panel">
       
       </div>
    </div>
    <div class="col-sm-4 perfo  slideanim">
      <h2 class="card container-fluid accordion">MISSION AND VISION</h2>
       <div class="panel">
        <h4>MISSION</h4>
        <p>Dushingiye ku ndangagaciro z’Ivanjili ,twigisha kandi tugatoza abana bacu 
        kuba abaturage b’intangarugero aho batuye no muri Kiliziya Ntagatifu.</p>
        
        <h4>VISION</h4>
        <p>Guteza imbere ubumenyi , imibereho , ubumenyi ngiro n’imibanire tumurikiwe n’urumuri rw'Ivanjili ,
        zo mbaraga zihindura muntu zikamuha kwisanzura no kubaho mu bufatanye n’abandi .</p>
       </div>
    </div>
</div>



<!-- Container (Latest news Section) -->
<div class="row col-sm-9 container-fluid">
 
  <!-- Container (School Best Performer Section) -->
   <div class="card container-fluid">
    <h2 class="card container-fluid">BEST PERFORMERS OF 2018</h2>
    <div class="row container-fluid">
      <% @performers.each do |performer| %>
       <div class="col-sm-4 perfo">
        <h2 class="card"><%= performer.title %></h2>
        <%= link_to image_tag(performer.image.url, :class => "performer card"), performer %>
        <%= performer.body %>
       </div>
      <% end %>
    </div>
  </div>
   
  <!-- Container (School administration Section) -->
   <div class="card container-fluid">
    <h2 class="card container-fluid">school administration</h2>
      <div class="row container-fluid">
       <% @staffs.each do |staff| %>
       <div class="col-sm-3 perfo">
        <h2 class="card"><%= staff.name %></h2>
        <%= link_to image_tag(staff.image.url, :class => "staff card"), staff %>
        <%= staff.body %>
       </div>
      <% end %>
      </div>
   </div>
   
  <div id="myCarousel" class="carousel slide text-center card container-fluid" data-ride="carousel" style="width:100%">
    <h2 class="card container-fluid">What peoples say about our school</h2>
    <div class="container-fluid card">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    
    <div class="carousel-inner card" role="listbox">
      <div class="item active">
        <h4>"This is the best school in Kigali!"<br><span>Maman Tonny, Mother of Isimbi</span></h4>
      </div>
      <div class="item">
        <h4>"Success comes from hard work!!"<br><span>John Peter, Alumini, Kigali Citisen</span></h4>
      </div>
      <div class="item">
        <h4>"We wish to have more school like your."<br><span>Charles Masonga, Parent, Doctor at King Faisal Hospital</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
 
  <div class="card container-fluid">
    <h2 class="card container-fluid" >Video</h2>
    <div class="row col-sm-12">
      <div class="col-sm-6" style="position:relative; padding-bottom:15%; padding-top:30px; height:0; margin:10px; overflow:hidden;">
	      <iframe width="175" height="110" src="https://www.youtube.com/embed/kHSFpGBFGHY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen 
			     style="position:absolute; top:0; left:0; width:100%; height:100%;">
	      </iframe>
	    </div>
	    <div class="col-sm-5" style="position:relative; padding-bottom:15%; padding-top:30px; height:0; margin:10px; overflow:hidden;"> 
	     <iframe width="175" height="110" src="https://www.youtube.com/embed/_UR-l3QI2nE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen 
			     style="position:absolute; top:0; left:0; width:100%; height:100%;">
	      </iframe>
      </div>
      <div class="col-sm-6" style="position:relative; padding-bottom:15%; padding-top:30px; height:0; margin:10px; overflow:hidden;">
	      <iframe width="175" height="110" src="https://www.youtube.com/embed/ANw79tYVrZE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen 
			     style="position:absolute; top:0; left:0; width:100%; height:100%;">
	      </iframe>
	    </div>
	    <div class="col-sm-5" style="position:relative; padding-bottom:15%; padding-top:30px; height:0; margin:10px; overflow:hidden;"> 
	     <iframe width="175" height="110" src="https://www.youtube.com/embed/n34YjZvDDXA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen 
			     style="position:absolute; top:0; left:0; width:100%; height:100%;">
	      </iframe>
      </div>
     </div> 
  </div>
 </div>
</div>

<div class="col-sm-3 card container-fluid"> 
   <div class="container-fluid">
    <h2 class="card">employee of the year 2018</h2>
      <% @teachers.each do |teacher| %>
        <%= link_to image_tag(teacher.image.url, :class => "teacher card"), teacher %>
        <h2><%= teacher.name %></h2>
      <% end %>
   </div>
   
  <div class="card container-fluid slideanim">
     <% @publications.each do |publication| %>
        <h2><%= publication.title %></h2>
        <%= link_to image_tag(publication.image.url, :class => "public"), publication %>
        <%= publication.body %>
     <% end %>
    </div>

  <div id="contact">
    <div class="col-sm-12 card slideanim">
      <h4>Contact Us:</h4>
      <h6><b>Contact us and we'll get back to you very soon.</b></h6>
      <h6><span class="glyphicon glyphicon-map-marker"></span> Kigali-Gasabo-Kinyinya, Rwanda</h6>
      <h6><span class="glyphicon glyphicon-phone"></span> +250 783159214 / 250 723433661</h6>
      <h6><span class="glyphicon glyphicon-envelope"></span> ecole.saintdominique@yahoo.fr</h6>
    </div>
    <div class="col-sm-12 card slideanim">
      <h4>Follow Us:</h4>
     <div class=" row">
      <a class="col-2" href="https://web.facebook.com/adolphe.mageza"><i class="fa fa-facebook-square" aria-hidden="true" style="font-size:40px;color:white;"></i></a>
      <a class="col-2" href="https://twitter.com/Admageza"><i class="fa fa-twitter-square" aria-hidden="true" style="font-size:40px;color:white;"></i></a>
      <a class="col-2" href="https://secure.skype.com/portal/overview?intsrc=client-_-windows-_-7.40.0.103-_-menu.account"><i class="fa fa-skype" aria-hidden="true" style="font-size:40px;color:white;"></i></a>
      <a class="col-2" href="https://www.instagram.com/admageza/?hl=en"><i class="fa fa-instagram" aria-hidden="true" style="font-size:40px;color:white;"></i></a>
      <a class="col-2" href="https://www.linkedin.com/in/adolphe-mageza-8a425234/"><i class="fa fa-linkedin-square" aria-hidden="true" style="font-size:40px;color:white;"></i></a>
    </div>
    </div>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="col-sm-12 row container-fluid">
  <div class="row">
    <div class="col-sm-6 card slideanim" style="width:100%;height:300px; margin-left:1%;">
      <h2 class="text-center">Google Map</h2>
      <iframe width="900" height="300" frameborder="0" style="border:0"
       src="https://www.google.com/maps/embed/v1/place?key=YOUR_API_KEY&q=ADDRESS_OR_COORDINATES" allowfullscreen>
      </iframe>
         
    </div>
    <div class="col-sm-5 card slideanim" style="width:100%;height:300px; margin-left:5%;">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>