<div class="tab-content text-center" style="margin:3% 5% 5% 5%">
  <p>
    <strong><%= @primary.title %></strong>
  </p>
  <p style="margin-left:35%">
   <%= image_tag @primary.image_url, :class => "card art" %>
  </p>
  <p>
   <%= @primary.body %>
  </p>
 <div class="container-fluid"> 
  <p>Comment List</p>
  <div id="comment4s_area">
  <!-- render for displaying posted comments list in a blog detail page -->
    <%= render partial: 'comment4s/index', locals: { comment4s: @comment4s, primary: @primary } %>
  </div>

  <!-- render for displaying comment entering field in a blog detail page -->
  <%= render partial: 'comment4s/form', locals: { comment4: @comment4, primary: @primary } %>
  </div>
<%= link_to 'Back', primaries_path %>
</div>