<%= form_with(model: [teacher, comment2]) do |form| %>
  <% if comment2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment2.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit"Submit your comment" %>
  </div>
<% end %>
<!-- This description will be the comment input form displayed in the blog's show screen -->