<div class="container-fluid " style="margin: 2% 0 0 70%">
   <%= search_form_for @q do |f| %>
      <%= f.search_field :title_cont %>
      <%= f.submit %>
    <% end %>
</div>
<div class="tab-content text-center" style="margin:2% 1% 5% 1%">
  <div class="row" style="margin-left:10%">
    <% @performers.each do |performer| %>
      <div class="col-sm-3 card "> 
        <%= performer.title %>
        <%= link_to image_tag(performer.image.url, :class => "list perfo"), performer %>
      </div>
    <% end %>
    </div>
   <div class="col-sm-12 " style="margin-left:-40%">
      <%= paginate @performers, :outer_window => 3  %>
   </div>
    <div class="col-sm-12 " style="margin-left:1%">
      <%= page_entries_info @performers %>
   </div>
   <div class="col-sm-12 ">
      <%= link_to 'Back to home page', root_path, class: 'btn btn-prymary'  %>
   </div>
</div>