<div class="tab-content text-center" style="margin:3% 5% 5% 5%">
<p>
  <strong><%= @performer.title %></strong>
</p>

<p>
  <%= image_tag @performer.image_url, :class => "post" %>
</p>

<p>
  <%= @performer.body %>
</p>

<div class="container-fluid">
<p>Comments</p>
  <div id="comment1s_area">
   render for displaying posted comments list in a blog detail page 
    <%= render partial: 'comment1s/index', locals: { comment1s: @comment1s, performer: @performer } %>
  </div>

   render for displaying comment entering field in a blog detail page 
  <%= render partial: 'comment1s/form', locals: { comment1: @comment1, performer: @performer } %>
  </div>
  <%= link_to 'Back to Performers', performers_path, class: 'btn btn-prymary'  %>
</div>

