<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @performer.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @performer.image_url, :class => "post" %>
</p>

<p>
  <strong>Body:</strong>
  <%= @performer.body %>
</p>

<% unless @performer.admin_user == current_user %>
  <% if @favorite.present? %>
    <%= link_to 'Cancel favorites' favorite_path(performer_id: @performer.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'To favorite' favorites_path(performer_id: @performer.id), method: :post, class: 'btn btn-prymary' %>
  <% end %>
<% end %>

<p>Comment List</p>
  <div id="comments_area">
  <!-- render for displaying posted comments list in a blog detail page -->
    <%= render partial: 'comments/index', locals: { comments: @comments, performer: @performer } %>
  </div>

  <!-- render for displaying comment entering field in a blog detail page -->
  <%= render partial: 'comments/form', locals: { comment: @comment, performer: @performer } %>

  <%= link_to 'Back', performers_path %>
  
  

</div>

