<div class="tab-content text-center" style="margin-top:8%">
<p>
  <strong><%= @performer.title %></strong>
</p>

<p>
  <%= image_tag @performer.image_url, :class => "post" %>
</p>

<p>
  <%= @performer.body %>
</p>

<% unless @performer.user_id == current_user %>
  <% if @favorite.present? %>
    <%= link_to 'Cancel favorites', favorite_path(performer_id: @performer.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'To favorite', favorites_path(performer_id: @performer.id), method: :post, class: 'btn-success' %>
  <% end %>
<% end %>
<p>Comments</p>
  <div id="comments_area">
  <!-- render for displaying posted comments list in a blog detail page -->
    <%= render partial: 'comments/index', locals: { comments: @comments, performer: @performer } %>
  </div>

  <!-- render for displaying comment entering field in a blog detail page -->
  <%= render partial: 'comments/form', locals: { comment: @comment, performer: @performer } %>

  <%= link_to 'Back to Performers', performers_path, class: 'btn btn-prymary'  %>
  </div>
</div>

