<div class="tab-content text-center" style="margin:3% 5% 5% 5%">
<p>
  <strong><%= @performer.title %></strong>
</p>

<p>
  <%= image_tag @performer.image_url, :class => "post" %>
</p>

<p>
  <%= @performer.body %>
</p>

<div class="container-fluid">
<p>Comments</p>
  <div id="comments_area">
    <!-- render for displaying posted comments list in a activity detail page -->
    <%= render partial: 'comments/index', locals: { comments: @comments, commentable: @commentable } %>
  </div>

  <!-- render for displaying comment entering field in a blog detail page -->
  <%= render partial: 'comments/form', locals: { comment: @comment, commentable: @commentable } %>
  
  <%= link_to 'Back', performers_path, class: 'btn btn-outline-prymary'  %>
</div>
</div>

