<div class="tab-content text-center" style="margin-top:8%">
<p>
  <strong><%= @teacher.name %></strong>
</p>

<p style="margin-left:35%">
  <%= image_tag @teacher.image_url, :class => "card art" %>
</p>

<p>
  <%= @teacher.body %>
</p>

<% unless @teacher.user_id == current_user %>
  <% if @favorite.present? %>
    <%= link_to 'Unfavorites', favorite_path(teacher_id: @teacher.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'Favorite', favorites_path(teacher_id: @teacher.id), method: :post, class: 'btn-success' %>
  <% end %>
<% end %>

<p>Comments</p>
  <div id="comments_area">
  <!-- render for displaying posted comments list in a blog detail page -->
    <%= render partial: 'comments/index', locals: { comments: @comments, teacher: @teacher } %>
  </div>

  <!-- render for displaying comment entering field in a blog detail page -->
  <%= render partial: 'comments/form', locals: { comment: @comment, teacher: @teacher } %>

  
  <%= link_to 'Back to Teachers', teachers_path, class: 'btn btn-prymary'  %>
</div>
</div>


