
<div class="tab-content text-center" style="margin:3% 5% 5% 5%">
<p>
  <strong><%= @teacher.name %></strong>
</p>

<p style="margin-left:35%">
  <%= image_tag @teacher.image_url, :class => "card art" %>
</p>

<p>
  <%= @teacher.body %>
</p>
<div class="container-fluid">
<p>Comment List</p>
  <div id="comment2s_area">
  <!-- render for displaying posted comments list in a blog detail page -->
    <%= render partial: 'comment2s/index', locals: { comment2s: @comment2s, teacher: @teacher } %>
  </div>

  <!-- render for displaying comment entering field in a blog detail page -->
  <%= render partial: 'comment2s/form', locals: { comment2: @comment2, teacher: @teacher } %>

  </div>
  <%= link_to 'Back to Teachers', teachers_path, class: 'btn btn-prymary'  %>
</div>
