<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @teacher.image %>
</p>

<p>
  <strong>Body:</strong>
  <%= @teacher.body %>
</p>

<p>Comment List</p>
  <div id="comments_area">
  <!-- render for displaying posted comments list in a blog detail page -->
    <%= render partial: 'comments/index', locals: { comments: @comments, teacher: @teacher } %>
  </div>

  <!-- render for displaying comment entering field in a blog detail page -->
  <%= render partial: 'comments/form', locals: { comment: @comment, teacher: @teacher } %>

  
  <%= link_to 'Back', teachers_path %>
</div>


