<div class="tab-content text-center" style="margin-top:8%">
<p>
  <strong><%= @post.title %></strong>
</p>

<p>
  <%= image_tag @post.image_url, :class => "list" %>
</p>

<p>
  <%= @post.body %>
</p>
 <% if @favorite.present? %>
    <%= link_to 'Cancel favorites', favorite_path(post_id: @post.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'To favorite', favorites_path(post_id: @post.id), method: :post, class: 'btn-success' %>
  <% end %>

<p>Comments</p>
  <div id="comments_area">
  <!-- render for displaying posted comments list in a post detail page -->
    <%= render partial: 'comments/index', locals: { comments: @comments, post: @post } %>
  </div>

  <!-- render for displaying comment entering field in a post detail page -->
  <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>

  
  <%= link_to 'Back to Posts', posts_path, class: 'btn btn-prymary'  %>
</div>
</div>


