<div class="tab-content text-center" style="margin:3% 5% 5% 5%">
<p>
  <strong><%= @post.title %></strong>
</p>

<p style="margin-left:30%">
  <%= image_tag @post.image_url, :class => "pos card" %>
</p>

<p>
  <%= @post.body %>
</p>

<% unless @post.user_id == current_user %>
  <% if @favorite.present? %>
    <%= link_to 'Unfavorites', favorite_path(post_id: @post.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'Favorite', favorites_path(post_id: @post.id), method: :post, class: 'btn-success' %>
  <% end %>
<% end %>
<div class="container-fluid">
<p>Comments</p>
  <div id="comment11s_area">
  <!-- render for displaying posted comments list in a article detail page -->
  <p style="margin-left:35%">
    <%= render partial: 'comment11s/index', locals: { comment11s: @comment11s, post: @post } %>
  <p>
  </div>

  <!-- render for displaying comment entering field in a blog detail page -->
  <p style="margin-left:50%">
    <%= render partial: 'comment11s/form', locals: { comment11: @comment11, post: @post } %>
  <p>
  </div>
  <%= link_to 'Back to Posts', posts_path, class: 'btn btn-prymary'  %>
</div>


