<div class="tab-content text-center" style="margin:3% 5% 5% 5%">

<p>
  <strong><%= @maternaire.title %></strong>
</p>

<p style="margin-left:35%">
  <%= image_tag @maternaire.image_url, :class => "card art" %>
</p>

<p>
  <%= @maternaire.body %>
</p>
<div class="container-fluid">
<p>Comment List</p>
<div id="comments_area">
   <!-- render for displaying posted comments list in a activity detail page -->
    <%= render partial: 'comments/index', locals: { comments: @comments, commentable: @commentable } %>
  </div>

  <!-- render for displaying comment entering field in a blog detail page -->
  <%= render partial: 'comments/form', locals: { comment: @comment, commentable: @commentable } %>
  
 <%= link_to 'Back', maternaires_path, class: 'btn btn-outline-prymary'  %>
</div>
</div>