<div class="tab-content text-justfy">
<%= form_with(model: admission, local: true) do |form| %>
  <% if admission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admission.errors.count, "error") %> prohibited this admission from being saved:</h2>

      <ul>
      <% admission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<ul class="container-fluid">
<div class="col-sm-12 row container-fluid">
  <div class="col-sm-3 container">
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field  :image, id: :admission_image %>
    <%= form.hidden_field :image_cache %>
    </div>
 </div>
</div>

<div class="col-sm-12 row container-fluid">
 <div class="col-sm-6 container card">
  <div class="field">
    <li class="col-sm-3"><%= form.label :first_name, 'Your First Name:' %></li>
    <li class="col-sm-9"><%= form.text_area :first_name, id: :admission_first_name %></li>
  </div>

  <div class="field">
    <li class="col-sm-3"><%= form.label :other_name, 'Other Name:' %></li>
    <li class="col-sm-9"><%= form.text_area :other_name, id: :admission_other_name %></li>
  </div>

  <div class="field">
    <li class="col-sm-3"><%= form.label :last_name, 'Your Last Name:' %></li>
    <li class="col-sm-9"><%= form.text_area :last_name, id: :admission_last_name %></li>
  </div>

  <div class="field">
    <li class="col-sm-3"><%= form.label :place_of_birth, 'Place of Birth:' %></li>
    <li class="col-sm-9"><%= form.text_area :place_of_birth, id: :admission_place_of_birth %></li>
  </div>
  </div>
  
 <div class="col-sm-5 container card">
  <div class="field">
    <li class="col-sm-4"><%= form.label :date_of_birth, 'Date of Birth:' %></li>
    <li class="col-sm-8"><%= form.date_select :date_of_birth, :start_year => 1950, :end_year => 2016, id: :admission_date_of_birth %></li>
  </div>

  <div class="field">
    <li class="col-sm-4"><%= form.label :legal_reg_date, 'Legal Reg. Date:' %></li>
    <li class="col-sm-8"><%= form.date_select :legal_reg_date, :start_year => 1950, :end_year => 2016, id: :admission_legal_reg_date %></li>
  </div>

  <div class="field">
    <li class="col-sm-4"><%= form.label :orphan, 'Orphan:' %></li>
    <li class="col-sm-8"><%= form.text_field :orphan, id: :admission_orphan %></li>
  </div>

  <div class="field">
    <li class="col-sm-4"><%= form.label :previous_school, 'Previous School:' %></li>
    <li class="col-sm-8"><%= form.text_area :previous_school, id: :admission_previous_school %></li>
  </div>

  <div class="field">
    <li class="col-sm-4"><%= form.label :level, 'Level:' %></li>
   
    <li class="col-sm-8"><%= form.text_field :level, id: :admission_level %></li>
  </div>
  
  <div class="field">
    <li class="col-sm-4"><%= form.label :resident_place, 'Resident Place:' %></li>
    <li class="col-sm-8"><%= form.text_area :resident_place, id: :admission_resident_place %></li>
  </div>
 </div>
</div>

<div class="col-sm-12 row container-fluid">
 <div class="col-sm-6 perfo card">
  <div class="field">
    <li class="col-sm-3"><%= form.label :father_name, 'Father Names:' %></li>
    <li class="col-sm-9"><%= form.text_area :father_name, id: :admission_father_name %></li>
  </div>

  <div class="field">
    <li class="col-sm-3"><%= form.label :father_id, 'Father ID:' %></li>
    <li class="col-sm-9"><%= form.number_field :father_id, id: :admission_father_id %></li>
  </div>

  <div class="field">
    <li class="col-sm-3"><%= form.label :father_phone, 'Father Phone:' %></li>
    <li class="col-sm-9"><%= form.text_field :father_phone, id: :admission_father_phone %></li>
  </div>
 </div>

 <div class="col-sm-5 perfo card">
  <div class="field">
    <li class="col-sm-4"><%= form.label :mother_name, 'Mother Names:' %></li>
    <li class="col-sm-8"><%= form.text_area :mother_name, id: :admission_mother_name %></li>
  </div>

  <div class="field">
    <li class="col-sm-4"><%= form.label :mother_id, 'Mother ID:' %></li>
    <li class="col-sm-8"><%= form.number_field :mother_id, id: :admission_mother_id %></li>
  </div>

  <div class="field">
    <li class="col-sm-4"><%= form.label :mother_phone, 'Mother Phone:' %></li>
    <li class="col-sm-8"><%= form.text_field :mother_phone, id: :admission_mother_phone %></li>
  </div>
  </div>
</div>

<div class="col-sm-12 row container-fluid">
  <div class="col-sm-11 perfo card">
  <div class="field">
    <%= form.label :comment, 'Addition Informations:' %>
    <%= form.text_area :comment, id: :admission_comment %>
  </div>
 </div>
</div>


  <div class="row info"  style="margin-left:45%">
    <%= form.submit"Submit", data: { confirm: 'Are you sure, you want to submit your registration request? Click OK to proceed'} %>
  </div>
</ul>
<% end %>
</div>