<div class="tab-content text-justfy">
<%= form_with(model: admission, local: true) do |form| %>
  <% if admission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admission.errors.count, "error") %> prohibited this admission from being saved:</h2>

      <ul>
      <% admission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-sm-12 row container-fluid">
  <div class="col-sm-3 container">
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field  :image, id: :admission_image %>
    <%= form.hidden_field :image_cache %>
    </div>
 </div>
</div>

<div class="col-sm-12 row container-fluid">
 <div class="col-sm-6 container card">
  <div class="field">
    <%= form.label :FirstName %>
    <%= form.text_area :FirstName, id: :admission_FirstName %>
  </div>

  <div class="field">
    <%= form.label :OtherName %>
    <%= form.text_area :OtherName, id: :admission_OtherName %>
  </div>

  <div class="field">
    <%= form.label :FirstName %>
    <%= form.text_area :FirstName, id: :admission_FirstName %>
  </div>

  <div class="field">
    <%= form.label :PlaceOfBirth %>
    <%= form.text_area :PlaceOfBirth, id: :admission_PlaceOfBirth %>
  </div>
  </div>
  
 <div class="col-sm-5 container card">
  <div class="field">
    <%= form.label :DateOfBirth %>
    <%= form.date_select :DateOfBirth, id: :admission_DateOfBirth %>
  </div>

  <div class="field">
    <%= form.label :LegalRegDate %>
    <%= form.date_select :LegalRegDate, id: :admission_LegalRegDate %>
  </div>

  <div class="field">
    <%= form.label :Orphan %>
    <%= form.text_field :Orphan, id: :admission_Orphan %>
  </div>

  <div class="field">
    <%= form.label :PreviousSchool %>
    <%= form.text_area :PreviousSchool, id: :admission_PreviousSchool %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.text_field :level, id: :admission_level %>
  </div>
  
  <div class="field">
    <%= form.label :ResidentPlace %>
    <%= form.text_area :ResidentPlace, id: :admission_ResidentPlace %>
  </div>
 </div>
</div>

<div class="col-sm-12 row container-fluid">
 <div class="col-sm-6 perfo card">
  <div class="field">
    <%= form.label :FatherName %>
    <%= form.text_area :FatherName, id: :admission_FatherName %>
  </div>

  <div class="field">
    <%= form.label :FatherId %>
    <%= form.number_field :FatherId, id: :admission_FatherId %>
  </div>

  <div class="field">
    <%= form.label :FatherPhone %>
    <%= form.text_field :FatherPhone, id: :admission_FatherPhone %>
  </div>
 </div>

 <div class="col-sm-5 perfo card">
  <div class="field">
    <%= form.label :MotherName %>
    <%= form.text_area :MotherName, id: :admission_MotherName %>
  </div>

  <div class="field">
    <%= form.label :MotherId %>
    <%= form.number_field :MotherId, id: :admission_MotherId %>
  </div>

  <div class="field">
    <%= form.label :MotherPhone %>
    <%= form.text_field :MotherPhone, id: :admission_MotherPhone %>
  </div>
  </div>
</div>

<div class="col-sm-12 row container-fluid">
  <div class="col-sm-11 perfo card">
  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :admission_comment %>
  </div>
 </div>
</div>


  <div class="row info"  style="margin-left:45%">
    <%= form.submit"Submit", data: { confirm: 'Are you sure, you want to submit your registration request? Click OK to proceed'} %>
  </div>
<% end %>
</div>