<p id="notice"><%= notice %></p>

<h1>Admissions</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Othername</th>
      <th>Lastname</th>
      <th>Dob</th>
      <th>Pob</th>
      <th>Legalregdate</th>
      <th>Orphan</th>
      <th>Fathername</th>
      <th>Fatherid</th>
      <th>Fatherphone</th>
      <th>Mothername</th>
      <th>Motherid</th>
      <th>Motherphone</th>
      <th>Residentplace</th>
      <th>Previousschool</th>
      <th>Level</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admissions.each do |admission| %>
      <tr>
        <td><%= image_tag admission.image_url, :class => "post" %></td>
        <td><%= admission.name %></td>
        <td><%= admission.othername %></td>
        <td><%= admission.lastname %></td>
        <td><%= admission.dob %></td>
        <td><%= admission.pob %></td>
        <td><%= admission.legalregdate %></td>
        <td><%= admission.orphan %></td>
        <td><%= admission.fathername %></td>
        <td><%= admission.fatherid %></td>
        <td><%= admission.fatherphone %></td>
        <td><%= admission.mothername %></td>
        <td><%= admission.motherid %></td>
        <td><%= admission.motherphone %></td>
        <td><%= admission.residentplace %></td>
        <td><%= admission.previousschool %></td>
        <td><%= admission.level %></td>
        <td><%= admission.comment %></td>
        <td><%= link_to 'Show', admission %></td>
        <td><%= link_to 'Edit', edit_admission_path(admission) %></td>
        <td><%= link_to 'Destroy', admission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admission', new_admission_path %>
