<div class="tab-content text-center" style="margin-top:10%">
  <h1>Admissions</h1>
  <div class="row" style="margin-left:1%">
     <% @admissions.each do |admission| %>
      <table class="row container-fluid "> 
      <th>
        <td><%= link_to image_tag(admission.image.url, :class => "admit"), admission %></td>
        <td><%= admission.name %></td>
        <td><%= admission.othername %></td>
        <td><%= admission.lastname %></td>
      </th>
      <th>  
        <td><%= link_to 'Edit', edit_admission_path(admission) %></td>
        <td><%= link_to 'Destroy', admission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </th>
      </table>
    <% end %>
  </div>
  <div class="col-sm-12 " style="margin-left:-40%">
   <%= paginate @admissions, :outer_window => 3 %>
  </div>
  <div class="col-sm-12 ">
    <%= link_to 'New Admission', new_admission_path %>
    <%= link_to 'Back to home page', root_path, class: 'btn btn-prymary'  %>
  </div>
</div>