<div class="container-fluid " style="margin: 2% 0 0 70%">
   <%= search_form_for @q do |f| %>
      <%= f.search_field :first_name_cont %>
      <%= f.submit %>
    <% end %>
</div>
<div class="table container-fluid tab-content text-center" style="margin:2% 5% 5% 1%">
<h1>Admissions</h1>
<% if logged_in? %>
<table class="row">
  <thead class="table">
    <tr class="row">
      <th class="col-sm-1">Image</th>
      <th class="col-sm-2">Firstname</th>
      <th class="col-sm-2">Othername</th>
      <th class="col-sm-2">Firstname</th>
      <th class="col-sm-2">Fathername</th>
      <th class="col-sm-2">Mothername</th>
    </tr>
  </thead>

  <tbody class="table">
    <% @admissions.each do |admission| %>
      <tr class="row">
      <% if admission.user == current_user %>
        <td class="col-sm-1"><%= link_to image_tag(admission.image.url, :class => "admit"), admission %></td>
        <td class="col-sm-2"><%= admission.first_name %></td>
        <td class="col-sm-2"><%= admission.other_name %></td>
        <td class="col-sm-2"><%= admission.first_name %></td>
        <td class="col-sm-2"><%= admission.father_name %></td>
        <td class="col-sm-1"><%= admission.mother_name %></td>
        <td ><%= link_to 'Show', admission %></td>
        <td ><%= link_to 'Edit', edit_admission_path(admission) %></td>
        <td ><%= link_to 'Destroy', admission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
   <% end %>
  </tbody>
   
</table>
 <div class="col-sm-12 " style="margin-left:-40%">
     <%= paginate @admissions, :outer_window => 3 %>
  </div>
   <div class="col-sm-12 " style="margin-left:1%">
      <%= page_entries_info @admissions %>
   </div>
    <% else %>
    <div class="col-sm-12 " style="margin-left:-40%">
    To see this, You have to Login first!
  </div>
<% end %>
</div>