<div class="tab-content text-center" style="margin:5% 1% 5% 1% ">
<h1>Admissions</h1>
 <% if logged_in? %> 
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Firstname</th>
      <th>Othername</th>
      <th>Firstname</th>
      <th>Dateofbirth</th>
      
      <th>Fathername</th>
      <th>Fatherid</th>
      <th>Fatherphone</th>
      <th>Mothername</th>
      <th>Motherid</th>
      <th>Motherphone</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 <% @user ||= current_user %>
  <tbody>
    <% @admissions.each do |admission| %>
      <tr>
        <td><%= link_to image_tag(admission.image.url, :class => "admit"), admission %></td>
        <td><%= admission.FirstName %></td>
        <td><%= admission.OtherName %></td>
        <td><%= admission.FirstName %></td>
        <td><%= admission.DateOfBirth %></td>
        
        <td><%= admission.FatherName %></td>
        <td><%= admission.FatherId %></td>
        <td><%= admission.FatherPhone %></td>
        <td><%= admission.MotherName %></td>
        <td><%= admission.MotherId %></td>
        <td><%= admission.MotherPhone %></td>
        <td><%= link_to 'Show', admission %></td>
        <td><%= link_to 'Edit', edit_admission_path(admission) %></td>
        <td><%= link_to 'Destroy', admission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
   <% end %>
</table>
</div>