<div class="container-fluid" style="margin:8% 0 20% 20%">
 <div class="col-sm-12 row container-fluid">
  <div class="col-sm-2 img">
    <%= image_tag @admission.image_url, :class => "card art" %>
  </div>
 </div>

 <div class="col-sm-12 row container-fluid">
  <div class="col-sm-4 tab-content text-left container-fluid">
    <div class="field">
     <strong>First Name:</strong>
      <%= @admission.first_name %>
    </div>

<div class="field">
  <strong>Other Name:</strong>
  <%= @admission.other_name %>
</div>

<div class="field">
  <strong>Last Name:</strong>
  <%= @admission.last_name %>
</div>

<div class="field">
  <strong>Place Of Birth:</strong>
  <%= @admission.place_of_birth %>
</div>

<div class="field">
  <strong>Resident Place:</strong>
  <%= @admission.resident_place %>
 </div>
</div>

<div class="col-sm-4 tab-content text-left container-fluid">
  <div class="field">
    <strong>Date Of Birth:</strong>
      <%= @admission.date_of_birth %>
  </div>

  <div class="field">
    <strong>Legal Reg. Date:</strong>
    <%= @admission.legal_reg_date %>
  </div>

  <div class="field">
    <strong>Orphan:</strong>
    <%= @admission.orphan %>
  </div>

  <div class="field">
    <strong>Previous School:</strong>
    <%= @admission.previous_school %>
  </div>

  <div class="field">
   <strong>Level:</strong>
    <%= @admission.level %>
  </div>
 </div>
</div>

<div class="col-sm-12 row container-fluid">
  <div class="col-sm-4 tab-content text-left container-fluid">
   <div class="field">
    <strong>Father's Name:</strong>
     <%= @admission.father_name %>
   </div>

   <div class="field">
     <strong>Father's Id:</strong>
      <%= @admission.father_id %>
   </div>

   <div class="field">
    <strong>Father's Phone:</strong>
     <%= @admission.father_phone %>
   </div>
  </div>

  <div class="col-sm-4 tab-content text-left container-fluid">
    <div class="field">
     <strong>Mother's Name:</strong>
      <%= @admission.mother_name %>
    </div>

    <div class="field">
     <strong>Mother Id:</strong>
      <%= @admission.mother_id %>
    </div>

    <div class="field">
     <strong>Mother's Phone:</strong>
     <%= @admission.mother_phone %>
    </div>
  </div>
</div>

 <div class="col-sm-12 row container-fluid">
  <div class="col-sm-8 tab-content text-left container-fluid">
   <div class="field">
    <strong>Addition Information:</strong>
     <%= @admission.comment %>
   </div>
  </div>
 </div>
 <div class="container-fluid">
 <p>Comment List</p>
 <div id="comments_area">
   <!-- render for displaying posted comments list in a activity detail page -->
    <%= render partial: 'comments/index', locals: { comments: @comments, commentable: @commentable } %>
  </div>

  <!-- render for displaying comment entering field in a blog detail page -->
  <%= render partial: 'comments/form', locals: { comment: @comment, commentable: @commentable } %>
  
 <%= link_to 'Back', admissions_path, class: 'btn btn-outline-prymary' %>
</div>
</div>
