<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @admission.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @admission.name %>
</p>

<p>
  <strong>Othername:</strong>
  <%= @admission.othername %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @admission.lastname %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @admission.dob %>
</p>

<p>
  <strong>Pob:</strong>
  <%= @admission.pob %>
</p>

<p>
  <strong>Legalregdate:</strong>
  <%= @admission.legalregdate %>
</p>

<p>
  <strong>Orphan:</strong>
  <%= @admission.orphan %>
</p>

<p>
  <strong>Fathername:</strong>
  <%= @admission.fathername %>
</p>

<p>
  <strong>Fatherid:</strong>
  <%= @admission.fatherid %>
</p>

<p>
  <strong>Fatherphone:</strong>
  <%= @admission.fatherphone %>
</p>

<p>
  <strong>Mothername:</strong>
  <%= @admission.mothername %>
</p>

<p>
  <strong>Motherid:</strong>
  <%= @admission.motherid %>
</p>

<p>
  <strong>Motherphone:</strong>
  <%= @admission.motherphone %>
</p>

<p>
  <strong>Residentplace:</strong>
  <%= @admission.residentplace %>
</p>

<p>
  <strong>Previousschool:</strong>
  <%= @admission.previousschool %>
</p>

<p>
  <strong>Level:</strong>
  <%= @admission.level %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @admission.comment %>
</p>

<% if @favorite.present? %>
    <%= link_to 'Cancel favorites', favorite_path(admission_id: @admission.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'To favorite', favorites_path(admission_id: @admission.id), method: :post, class: 'btn-success' %>
<% end %>

<%= link_to 'Edit', edit_admission_path(@admission) %> |
<%= link_to 'Back', admissions_path %>
