<div class="container-fluid" style="margin:8% 0 20% 20%">
 <div class="col-sm-12 row container-fluid">
  <div class="col-sm-2 img">
    <%= image_tag @admission.image_url, :class => "card art" %>
  </div>
 </div>

 <div class="col-sm-12 row container-fluid">
  <div class="col-sm-4 tab-content text-left container-fluid">
    <div class="field">
     <strong>First Name:</strong>
      <%= @admission.FirstName %>
    </div>

<div class="field">
  <strong>Othername:</strong>
  <%= @admission.OtherName %>
</div>

<div class="field">
  <strong>Firstname:</strong>
  <%= @admission.FirstName %>
</div>

<div class="field">
  <strong>Placeofbirth:</strong>
  <%= @admission.PlaceOfBirth %>
</div>

<div class="field">
  <strong>Residentplace:</strong>
  <%= @admission.ResidentPlace %>
 </div>
</div>

<div class="col-sm-4 tab-content text-left container-fluid">
  <div class="field">
    <strong>Dateofbirth:</strong>
      <%= @admission.DateOfBirth %>
  </div>

  <div class="field">
    <strong>Legalregdate:</strong>
    <%= @admission.LegalRegDate %>
  </div>

  <div class="field">
    <strong>Orphan:</strong>
    <%= @admission.Orphan %>
  </div>

  <div class="field">
    <strong>Previousschool:</strong>
    <%= @admission.PreviousSchool %>
  </div>

  <div class="field">
   <strong>Level:</strong>
    <%= @admission.level %>
  </div>
 </div>
</div>

<div class="col-sm-12 row container-fluid">
  <div class="col-sm-4 tab-content text-left container-fluid">
   <div class="field">
    <strong>Father's name:</strong>
     <%= @admission.FatherName %>
   </div>

   <div class="field">
     <strong>Father's id:</strong>
      <%= @admission.FatherId %>
   </div>

   <div class="field">
    <strong>Father's phone:</strong>
     <%= @admission.FatherPhone %>
   </div>
  </div>

  <div class="col-sm-4 tab-content text-left container-fluid">
    <div class="field">
     <strong>Mother's name:</strong>
      <%= @admission.MotherName %>
    </div>

    <div class="field">
     <strong>Motherid:</strong>
      <%= @admission.MotherId %>
    </div>

    <div class="field">
     <strong>Motherphone:</strong>
     <%= @admission.MotherPhone %>
    </div>
  </div>
</div>

 <div class="col-sm-12 row container-fluid">
  <div class="col-sm-8 tab-content text-left container-fluid">
   <div class="field">
    <strong>Addition Information:</strong>
     <%= @admission.comment %>
   </div>
  </div>
 </div>
 <div class="container-fluid">
 <p>Comment List</p>
 <div id="comments_area">
   <!-- render for displaying posted comments list in a activity detail page -->
    <%= render partial: 'comments/index', locals: { comments: @comments, commentable: @commentable } %>
  </div>

  <!-- render for displaying comment entering field in a blog detail page -->
  <%= render partial: 'comments/form', locals: { comment: @comment, commentable: @commentable } %>
  
 <%= link_to 'Back', admissions_path, class: 'btn btn-outline-prymary' %>
</div>
</div>
