<div class="tab-content text-center" style="margin:3% 1% 5% 1% ">
<h1>Tests</h1>
<%= search_form_for @q do |f| %>
  <%= f.label :firstname_cont %>
  <%= f.search_field :firstname_cont %>
  <%= f.submit %>
<% end %>
<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :firstname) %></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.firstname %></td>
        <td><%= test.lastname %></td>
        <td><%= link_to 'Show', test %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <div class="col-sm-12 " style="margin-left:-40%">
   <%= paginate @tests, :outer_window => 3 %> 
  </div>
</div>